.accordion {
  display: block;
  width: auto;
  margin: 2%;
  /* margin: auto; */
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #043365;
}

.accordion-title:hover {
  background-color: #043365cd;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: whitesmoke;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}

.expand-sym {
  color: white;
}
