.row{
    padding-top: 20px;
}

.form-control{
    background-color: rgb(255,69,0);
    color: aliceblue;
    width: 90%;
    margin-left: 5%;
}

::placeholder{
    color: white !important;

}

input:focus::placeholder {
    color: transparent !important;
  }

  

  button{
    margin-top: 60px;
    position: relative;
    left: 40%;
  }

  @media screen {
    
  }

  .btn{
    border-radius: 0 0 0 0;
  }


  form{
    margin-top: 10%;
  }

  .add1{
    margin-left: 2.5%;
    width: 95%;
  }