.row{
    padding-top: 20px;
}

.form-control{
    background-color: rgb(255,69,0);
    color: aliceblue;
}

::placeholder{
    color: white !important;

}

input:focus::placeholder {
    color: transparent !important;
  }

  

  button{
    margin-top: 60px;
    position: relative;
    left: 300px;

  }

  @media screen {
    
  }

  .btn{
    border-radius: 0 0 0 0;
  }