.userDetails {
  margin-top: 2%;
  margin-bottom: 2%;
}

.title-bar {
  /* border: solid black 2px; */
  color: white;
  display: flex;
  /* background-color: whitesmoke; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  padding: 2px;
  margin: auto;
  font-size: medium;
}

.accordion {
  display: block;
  width: 96%;
  margin: 2%;
  border-radius: 5px;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
  background-color: #043365;
  border-radius: 5px;
}

.accordion-title:hover {
  background-color: #043365cd;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: whitesmoke;
}
