.row{
    padding-top: 20px;
}

.form-control{
    background-color: white;
    color: black;
    width: 90%;
    margin-left: 5%;
}

::placeholder{
    color: black !important;

}

input:focus::placeholder {
    color: transparent !important;
  }

  

  button{
    margin-top: 4%;
    position: relative;
    left: 30%;
  }

  @media screen {
    
  }

  .btn{
    border-radius: 0 0 0 0;
  }


  form{
    margin-top: 10%;
  }

  .add1{
    margin-left: 2.5%;
    width: 95%;
  }

  .para{
    display: inline;
    position: relative;
    margin-left: 35%;
    color: white;
  }

  a:hover{
    cursor:pointer;
  }