.header {
  background-color: #043365;
  color: white;
  overflow: hidden;
  padding: 2px;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 999;
}

img {
  padding: 2px;
  display: block;
  margin-left: 2%;
  width: 14%;
}
