.header{
    background-image: linear-gradient(rgb(30, 30, 131),#0f163f);
    color: white;
    overflow: hidden;
    padding: 2px;

}

img{
    padding: 2px;
    display: block;
    margin-left: 2%;
    width: 14%;
}
