.container{
    margin-top: 70px;
    float: left;
    background-color: white;
    width: 40%;
    height: 505px;
    padding: 10px;
}

.img{
    width: 80%;
    height: 300px;
    margin-left: 15%;
    margin-bottom: 5%;
    
}

.text{
    margin-top: 10px;
    margin-left: 80px;
    text-align: center;
    color: gray;
    padding: 5px;
}